body{
    background-color: #E5E5E5;
    padding: 20px;
}

header, footer{
    width: 80%;
    margin: 0 auto;
}

main{
    height: 80vh;
    width: 100wv;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas{
    margin: 0;
}
#botoes{
    position: absolute;
}

.botoes{
    display: none;
    background-color: #F3F5FC;
    text-align: center;
    padding: 20px;
    margin-top: -5px;
}
button{
    display: block;
    width: 100%;
    padding: 50px ;
    border-radius: 25px;
    color: #0A3871;
    border: 1px #0A3871 solid;
    margin: 10px auto 10px auto;
    cursor: pointer;
    font-size: 30px;
}

button:hover{
    box-shadow: 0 0 1em #000 ;
}
.comecar{
    background-color: #0A3871;
    color: #fff;
}


input{   

    padding: 10px 80px ;
    border-radius: 15px;
    color: #0A3871;
    border: 1px #0A3871 solid;
    margin: 10px auto 10px auto;
    cursor: pointer;
    font-size: 15px;   
}
input:hover{
    box-shadow: 0 0 1em #000 ;
}

#palavra{
    padding: 10px ;
}
#palavraNova{
    display: none;
}

footer{
    text-align: center;
    font-size: 12px;
    color: #ccc;
    margin-top: 60px;
}